.container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;

  .title {
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #002b5b;
  }

  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .step {
      flex: 1 1 calc(33.333% - 40px);
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align: center;

      .logo {
        width: 80px; // Logoların boyutunu ayarlayın
        height: 80px;
        margin-bottom: 10px;
      }

      p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .linkExample {
    margin-top: 30px;
    font-size: 1.2rem;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Tablet ve mobil responsive stilleri
@media (max-width: 1024px) {
  .steps {
    .step {
      flex: 1 1 calc(50% - 40px); // 1024px ekranlarda iki sütun
    }
  }
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column; // Mobilde öğeleri dikey sıraya sokuyoruz

    .step {
      flex: 1 1 100%; // Her bir adımı alt alta yerleştiriyoruz
    }
  }

  .title {
    font-size: 1.8rem; // Mobilde başlık boyutunu biraz küçültüyoruz
  }

  .linkExample {
    font-size: 1rem; // Mobilde link örneği boyutunu biraz küçültüyoruz
  }
}

// 300px ve altı ekranlar için stiller
@media (max-width: 300px) {
  .steps {
    .step {
      flex: 1 1 100%; // Adımlar alt alta olacak şekilde tam genişlikte
      padding: 8px; // Padding küçültülür
    }
  }

  .title {
    font-size: 1.4rem; // Başlık boyutu küçültülür
  }

  .linkExample {
    font-size: 0.9rem; // Link örneği font boyutu küçültülür
  }

  .logo {
    width: 50px; // Logoların boyutu küçültülür
    height: 50px;
  }

  .step p {
    font-size: 1.1rem; // Metin boyutunu küçültür
  }
}
